html, body{
    padding: 0;
    margin: 0;
    background-color: beige;
    overflow-x: hidden;

}

ul{
  display: flex;
  flex-direction: row ;
}
li{
  margin: 15px;
  display: flex;
  list-style-type: none;
}

nav{
    width: 100vw;
    height: 10vh;
    display: flex;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    color: white;
    background-color: rgb(31, 29, 29);
    z-index: 100;
}

.nav_lien{
  text-decoration: none;
  color: white;
  font-size: 22px;
}

header{
  background-image: url("valorant.jpg");
  background-repeat: no-repeat;
  background-size: cover;
    width: 100vw;
    height: 100vh;
}
#logo{
    height: 9vh;
}

#agent{
  text-align: center;
  margin-bottom: 30px;
  color: white;
  font-size: 50px;
  text-shadow: 2px 0 rgb(0, 0, 0), -2px 0 rgb(0, 0, 0), 0 2px rgb(0, 0, 0), 0 -2px rgb(0, 0, 0),
               1px 1px rgb(0, 0, 0), -1px -1px rgb(0, 0, 0), 1px -1px rgb(0, 0, 0), -1px 1px rgb(0, 0, 0);

}


h2 {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.5;  
  }
  
  p {
    margin: .5rem 0;
    font-size: 1.25rem;
    line-height: 1.5;
  }
  
  /* First the Grid */
  .gallery-grid {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1.5rem;
    justify-items: center;
    margin: 0;
    padding: 0;
  }
  
  .gallery-frame {
    padding: .5rem;
    font-size: 1.2rem;
    text-align: center;
    background-color: #333;
    color: #d9d9d9;
  }
  
  .gallery-img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    transition: opacity 0.25s ease-in-out;
  }
  
  .gallery-img:hover {
    opacity: .7;
  }

